pipeline/pl_donorsearch_http_test.json
{
	"name": "pl_donorsearch_http_test",
	"properties": {
		"activities": [
			{
				"name": "call_donor_API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "ls_donorsearch_http_test",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "ds_donorsearch_http_test",
							"type": "DatasetReference"
						}
					],
					"url": "http://data.donorlead.net/v2.1/?key=5d95e4d6342b5&firstName=Bill&lastName=Gates&homeState=WA"
				}
			},
			{
				"name": "Copy DonorSearch Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "call_donor_API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"requestBody": {
								"value": "toString(activity('call_donor_API').output.individual)",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_donorsearch_http_test",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_blob_donorsearch_ingested_http",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}